
# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/libraries
.idea/modules.xml
.idea/*.iml
.idea/*.xml

.hypothesis/*
.pytest_cache/*
/__pycache__/*
*.pyc

/dist/*.exe
/build/*